In [1]:
import numpy as np
import pandas as pd

from datetime import datetime
from dateutil.relativedelta import relativedelta
import time

In [2]:
def get_date_rage(release):
    year, month, day = release.split('-')
    release_3ago = (datetime(int(year), int(month), int(day)) - relativedelta(years=3)).strftime('%Y-%m-%d')
    return [release_3ago, release]

In [3]:
actor_movie = pd.read_csv('./17_18_preprocessed_data/actor_movie.csv', index_col=0)
actor_movie

      actor_code                                     movie_name movie_code
0       20209526                                            더 문   20218935
1       20209526                                  언더독(Underdog)   20186324
2       20209526                               스윙키즈(Swing Kids)   20175547
3       20209526                                 7호실(Room No.7)   20168754
4       20209526                         형(MY ANNOYING BROTHER)   20154661
...          ...                                            ...        ...
4391    10065531  라스베가스의 공포와 혐오(Fear And Loathing In Las Vegas)   19988459
4392    10065531                        도니 브래스코 (Donnie Brasco)   19980158
4393    10065531                  조니 뎁의 돈 쥬앙 (Don Juan Demarco)   19950299
4394    10065531          길버트 그레이프(What'S Eating Gilbert Grape)   20040805
4395    10065531                       가위손(Edward Scissorhands)   19910242

[4396 rows x 3 columns]

In [4]:
movie_actor_df = pd.read_csv('17_18_preprocessed_data/movie_actor_df.csv', index_col=0)
movie_actor_df = movie_actor_df.fillna(0)
movie_actor_df = movie_actor_df.astype({'actor2_code': 'int'})
movie_actor_df

          movie_name      code  actor1_code  actor2_code
0              택시운전사  20162869     10037018     10080533
1          신과함께-죄와 벌  20150976     10087253     10071209
2                 공조  20151228     10088975     10054128
3        스파이더맨: 홈 커밍  20167303     20272630     10016538
4               범죄도시  20172742     10021341     10054204
..               ...       ...          ...          ...
187        프리즌 이스케이프  20207893     10009288     10056554
188               검객  20178401     10060612     20129449
189               조제  20201002     10087751     20279929
190           사라진 시간  20193859     10067353     10030161
191  밤쉘: 세상을 바꾼 폭탄선언  20204644     10035154     10008581

[192 rows x 4 columns]

In [5]:
movie_df = pd.read_excel('Preprocessed_Data.xlsx').loc[:,['code','release']]

merge_movie_info_df = pd.merge(left = movie_actor_df , right = movie_df, how = "left", on = "code")
merge_movie_info_df['actor_power'] = np.nan
merge_movie_info_df=merge_movie_info_df.astype({'release': 'str'})
merge_movie_info_df

,movie_name,code,actor1_code,actor2_code,release,actor_power
0,택시운전사,20162869,10037018,10080533,2017-08-02,NaN
1,신과함께-죄와 벌,20150976,10087253,10071209,2017-12-20,NaN
2,공조,20151228,10088975,10054128,2017-01-18,NaN
3,스파이더맨: 홈 커밍,20167303,20272630,10016538,2017-07-05,NaN
4,범죄도시,20172742,10021341,10054204,2017-10-03,NaN
...,...,...,...,...,...,...
187,프리즌 이스케이프,20207893,10009288,10056554,2020-05-06,NaN
188,검객,20178401,10060612,20129449,2020-09-23,NaN
189,조제,20201002,10087751,20279929,2020-12-10,NaN
190,사라진 시간,20193859,10067353,10030161,2020-06-18,NaN
191,밤쉘: 세상을 바꾼 폭탄선언,20204644,10035154,10008581,2020-07-08,NaN

In [6]:
movie_info_total = pd.read_csv('17_18_preprocessed_data/movie_info_total.csv', index_col=0)

In [7]:
merge_movie_df = pd.merge(left = actor_movie , right = movie_info_total, how = "left", on = "movie_code")

In [8]:
drop_index = merge_movie_df[merge_movie_df['release'] == '해당정보없음'].index
merge_movie_df = merge_movie_df.drop(drop_index)
merge_movie_df=merge_movie_df.reset_index(drop=True)
merge_movie_df

,actor_code,movie_name,movie_code,release,acc_audience_num
0,20209526,언더독(Underdog),20186324,2019-01-16,193866
1,20209526,스윙키즈(Swing Kids),20175547,2018-12-19,1471247
2,20209526,7호실(Room No.7),20168754,2017-11-15,347790
3,20209526,형(MY ANNOYING BROTHER),20154661,2016-11-23,2982022
4,20209526,순정(UNFORGETTABLE),20151021,2016-02-24,240484
...,...,...,...,...,...
3511,10065531,슬리피 할로우(Sleepy Hollow),20000085,2000-01-29,0
3512,10065531,도니 브래스코 (Donnie Brasco),19980158,1998-06-20,0
3513,10065531,조니 뎁의 돈 쥬앙 (Don Juan Demarco),19950299,1995-09-30,0
3514,10065531,길버트 그레이프(What'S Eating Gilbert Grape),20040805,1994-06-11,0
3515,10065531,가위손(Edward Scissorhands),19910242,1991-06-29,0

In [9]:
for i in range(len(merge_movie_info_df)):
    movie_code = merge_movie_info_df['code'][i]
    actor1_code = merge_movie_info_df['actor1_code'][i]
    actor2_code = merge_movie_info_df['actor2_code'][i]
    release = list(merge_movie_info_df.loc[merge_movie_info_df['code']==movie_code, 'release'].values)[0]

    date_range = get_date_rage(release)
    filtered_movie_list = merge_movie_df[
        ((merge_movie_df['actor_code'] == actor1_code) |
        (merge_movie_df['actor_code'] == actor2_code)) &
        ((merge_movie_df['release'] >= date_range[0]) & (merge_movie_df['release'] <= date_range[1]))
    ]

    audience_mean = np.mean(filtered_movie_list['acc_audience_num'])
    merge_movie_info_df.loc[merge_movie_info_df['code']==movie_code, 'actor_power'] = audience_mean

In [10]:
merge_movie_info_df

,movie_name,code,actor1_code,actor2_code,release,actor_power
0,택시운전사,20162869,10037018,10080533,2017-08-02,9.530159e+06
1,신과함께-죄와 벌,20150976,10087253,10071209,2017-12-20,6.788586e+06
2,공조,20151228,10088975,10054128,2017-01-18,4.962138e+06
3,스파이더맨: 홈 커밍,20167303,20272630,10016538,2017-07-05,6.768580e+06
4,범죄도시,20172742,10021341,10054204,2017-10-03,2.826153e+06
...,...,...,...,...,...,...
187,프리즌 이스케이프,20207893,10009288,10056554,2020-05-06,8.232217e+04
188,검객,20178401,10060612,20129449,2020-09-23,1.902370e+05
189,조제,20201002,10087751,20279929,2020-12-10,1.335327e+06
190,사라진 시간,20193859,10067353,10030161,2020-06-18,1.872178e+06
191,밤쉘: 세상을 바꾼 폭탄선언,20204644,10035154,10008581,2020-07-08,5.237502e+05

In [11]:
merge_movie_info_df.to_csv('17_18_preprocessed_data/movie_actor_power.csv', encoding='utf-8-sig')